<style>
    
    .wrapper {
        
    }
    
    @media screen and (min-height : 240px) {
        
        .title ,  .close  {
            height: 24px;
            line-height: 24px;
        }
    }

    @media screen and (min-height : 320px) {
        
        .title ,  .close  {
            height: 32px;
            line-height: 32px;
        }
    }

    @media screen and (min-height : 480px) {
        
        .title ,  .close  {
            height: 48px;
            line-height: 48px;
        }
    }

    @media screen and (min-height : 600px) {
        
        .title ,  .close  {
            height: 60px;
            line-height: 60px;
        }
    }

    @media screen and (min-height : 720px) {
        
        .title ,  .close  {
            height: 72px;
            line-height: 72px;
        }
    }

    @media screen and (min-height : 800px) {
        
        .title ,  .close  {
            height: 80px;
            line-height: 80px;
        }
    }

    @media screen and (min-height : 900px) {
        
        .title ,  .close  {
            height: 90px;
            line-height: 90px;
        }
    }

    @media screen and (min-height : 960px) {
        
        .title ,  .close  {
            height: 96px;
            line-height: 96px;
        }
        
    }

    @media screen and (min-height : 1200px) {
        
        .title ,  .close  {
            height: 120px;
            line-height: 120px;
        }
    }

    @media screen and (min-height : 1280px) {
        .title ,  .close  {
            height: 128px;
            line-height: 128px;
        }
    }

    @media screen and (min-height : 1600px) {
                
        .title ,  .close  {
            height: 160px;
            line-height: 160px;
        }
    }

    @media screen and (min-height : 1920px) {
        
        .title ,  .close  {
            height: 192px;
            line-height: 192px;
        }
    }
    
    .title {
        padding: 0 5%;
        background: #36D7B7;
        color: white;
        font-weight: bold;
        font-size: 150%;
    }
    
    .body1 {
        padding: 5%;
        background: #FAFAFA;
        font-size: 125%;
        color: #848484;
    }
    
    .close {
        background: #F2F1EF;   
    }
    
    .close > button {
        margin-left: 35%;
        width: 30%;
        text-align: center;
        height: 60%;
        vertical-align: middle;
        background: #19B5FE;
        border:1px solid #19B5FE;
        color: white;
        font-size: 120%;
        font-weight: bold;
        
    }
    
</style>
<div class="wrapper">
    <div class="title" id="modalTitle"></div>
    <div class="body1" id="modalBody"></div>
    <div class="close">
        <button id="modalClose">Close</button>
    </div>
</div>