<style>
    
    .wrapper {
        width:90%;
        padding:2% 5%;
    }
    
    .registeredContact{
        font-size:100%;
        //border-bottom:1px solid #D2D7D3;
        //border:1px solid #D2D7D3;
        padding:2% 5%;
        background:white;
        
        box-shadow: 0px 0px 2px white;
    }
    
    table{
        margin:0;
        padding:0;
    }
    
    .contactImage {
        overflow:hidden;
    }
    
    .contactName {
        font-size:125%;
        font-weight:650;
        text-align:left;
        color:#0B173B;
    }
    
    .contact {
        padding:2% 5%;
        background-color: #EEEEEE;
        background-color: white;
        //box-shadow: 0px 0px 1px 1px #aaa;
        //border-bottom:1px solid #D2D7D3;
        //border:1px solid #D2D7D3;
        margin: 2% 0;
    }
    
    .image {
        width:20%;
        float:left;   
    }
    
    .name {
        line-height:48px;
        width:80%;
        float:left;
        font-weight:650;
        font-size:110%;
        color:#848484;
        text-align:left;
    }
    
    @media screen and (min-height : 240px) {
        .contact {
            height:24px;
        }
    
        .image > img {
            height:24px;
            width:24px;
            border-radius:24px;
        }
    
        .name {
            line-height:24px;
        }
    }

    @media screen and (min-height : 320px) {
        .contact {
            height:32px;
        }
    
        .image > img {
            height:32px;
            width:32px;
            border-radius:32px;
        }
    
        .name {
            line-height:32px;
        }
    }

    @media screen and (min-height : 480px) {
        .contact {
            height:48px;
        }
    
        .image > img {
            height:48px;
            width:48px;
            border-radius:48px;
        }
    
        .name {
            line-height:48px;
        }
    }

    @media screen and (min-height : 600px) {
        .contact {
            height:60px;
        }
    
        .image > img {
            height:60px;
            width:60px;
            border-radius:60px;
        }
    
        .name {
            line-height:60px;
        }
    }

    @media screen and (min-height : 720px) {
        .contact {
            height:72px;
        }
    
        .image > img {
            height:72px;
            width:72px;
            border-radius:72px;
        }
    
        .name {
            line-height:72px;
        }
    }

    @media screen and (min-height : 800px) {
        .contact {
            height:80px;
        }
    
        .image > img {
            height:80px;
            width:80px;
            border-radius:80px;
        }
    
        .name {
            line-height:80px;
        }
    }

    @media screen and (min-height : 900px) {
        .contact {
            height:90px;
        }
    
        .image > img {
            height:90px;
            width:90px;
            border-radius:90px;
        }
    
        .name {
            line-height:90px;
        }
    }

    @media screen and (min-height : 960px) {
        .contact {
            height:96px;
        }
    
        .image > img {
            height:96px;
            width:96px;
            border-radius:96px;
        }
    
        .name {
            line-height:96px;
        }
    }

    @media screen and (min-height : 1200px) {
        .contact {
            height:120px;
        }
    
        .image > img {
            height:120px;
            width:120px;
            border-radius:120px;
        }
    
        .name {
            line-height:120px;
        }
    }

    @media screen and (min-height : 1280px) {
        .contact {
            height:128px;
        }
    
        .image > img {
            height:128px;
            width:128px;
            border-radius:128px;
        }
    
        .name {
            line-height:128px;
        }
    }

    @media screen and (min-height : 1600px) {
        .contact {
            height:160px;
        }
    
        .image > img {
            height:160px;
            width:160px;
            border-radius:160px;
        }
    
        .name {
            line-height:160px;
        }
    }

    @media screen and (min-height : 1920px) {
        .contact {
            height:192px;
        }
    
        .image > img {
            height:192px;
            width:192px;
            border-radius:192px;
        }
    
        .name {
            line-height:192px;
        }
    }
    
    #nodata , #error {
        display: none;
    }
 
</style>

<div class="wrapper">
    
    <div id="clone" class="contact" style="display:none">
        <div class="image">
            <img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-prn2/t1.0-9/1458566_768090913201444_94017057_n.jpg">
        </div>
        <div class="name">
            Pavan Kumar L
        </div>
        <div style="clear:both"></div>
    </div>
    
    <div id="nodata" class="message">
        Nothing to display
    </div>
    
    <div id="error" class="message">
        Please try again later
    </div>

</div>