<style>
    .registeredUser {
        width:100%;   
    }
    
    
    .content {
        width:100%; 
    }
    
    @media screen and (min-height : 240px) {
        
    }

    @media screen and (min-height : 320px) {
        
    }

    @media screen and (min-height : 480px) {
        
    }

    @media screen and (min-height : 600px) {
        
    }

    @media screen and (min-height : 720px) {
        
    }

    @media screen and (min-height : 800px) {
        
    }

    @media screen and (min-height : 900px) {
        
    }

    @media screen and (min-height : 960px) {
        
    }

    @media screen and (min-height : 1200px) {
        
    }

    @media screen and (min-height : 1280px) {
        
    }

    @media screen and (min-height : 1600px) {
        
    }

    @media screen and (min-height : 1920px) {
        
    }
    
</style>

<div class="registeredUser">
    
    <div id="content" class="content">
        
    </div>
</div>