/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   /* background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

header {
    
    width:100%;
    background:#36D7B7;
    font-size:125%;
    z-index: 2;
    
}

@media screen and (min-height : 240px) {
    
    body {
        font-size:5px; 
    }
    
    header {
        height: 24px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 24px; 
        line-height: 24px;
    }
    
    .stack {
        top:24px;   
    }
}

@media screen and (min-height : 320px) {
    
    body {
        font-size:6px; 
    }
    
    header {
        height: 36px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 32px; 
        line-height: 32px;
    }
    
    .stack {
        top:36px;   
    }
}

@media screen and (min-height : 480px) {
    body {
        font-size: 10px;
    }
    
    header {
        height: 45px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 48px; 
        line-height: 48px;
    }
    
    .stack {
        top:45px;   
    }
}

@media screen and (min-height : 600px) {
    body {
        font-size: 12px; 
    }
    
    header{
        height:54px;
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 60px; 
        line-height: 60px;
    }
    
    .stack {
        top:54px;   
    }
}

@media screen and (min-height : 720px) {
    body {
        font-size: 14px;       
    }
    
    header {
        height: 60px;   
    }  
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 72px; 
        line-height: 72px;
    }
    
    .stack {
        top:60px;   
    }
}

@media screen and (min-height : 800px) {
    body {
        font-size: 16px; 
    }
    
    header {
        height: 67.5px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 80px; 
        line-height: 80px;
    }
    
    .stack {
        top:67.5px;   
    }
}

@media screen and (min-height : 900px) {
    body {
        font-size: 18px;
    }
    
     header {
        height: 72px;   
    }
        
    .sidebarElem {
        height: 90px; 
        line-height: 90px;
    }
    
    .stack {
        top:72px;   
    }
    
}

@media screen and (min-height : 960px) {
    body {
        font-size: 18px;
    }
    
    header {
        height: 90px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 96px; 
        line-height: 96px;
    }
    
    .stack {
        top:90px;   
    }
}

@media screen and (min-height : 1200px) {
    body {
        font-size: 24px;       
    }
    
    header {
        height: 96px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 120px; 
        line-height: 120px;
    }
    
    .stack {
        top:96px;   
    }
}

@media screen and (min-height : 1280px) {
    body {
        font-size: 24px; 
    }
    
    header {
        height: 120px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 128px; 
        line-height: 128px;
    }
    
    .stack {
        top:120px;   
    }
}

@media screen and (min-height : 1600px) {
    body {
        font-size: 32px;       
    }
    
    header {
        height: 144px;  
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 160px; 
        line-height: 160px;
    }
    
    .stack {
        top:144px;   
    }
}

@media screen and (min-height : 1920px) {
    body {
        font-size: 40px;  
    }
    
    header {
        height: 144px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 192px; 
        line-height: 192px;
    }
    
    .stack {
        top:144px;   
    }
}



#backbutton {
    width:10%;
    font-weight:normal;
    float:left;
    visibility:hidden;
    text-align: center;
}

#icon {
    width:89%;
    float:left;
    
}

#rightColumn > img {
    position:relative;
    top:12.5%;
    height:75%;
    border-radius:100%;
}

.headerBorderLeft {
    
    border-left:1px solid #00ADE7;
    border-left:1px solid #049372;
}

.headerBorderLeft:focus {
    outline:none;
}



.headerBorderRight:focus {
    outline:none;
}

header table, header td {
    border-spacing:1px;
    //border-collapse:collapse;
    text-align:center;
    color:white;
    
    font-weight:bold;
}


.headerBorderRight {
    padding: 2px;
    border-right: :1px solid #049372;
}

#workarea {
    width:100%;
    //padding:1% 2%;
    
    overflow-y:auto;
    /*background:#FAFAFA;*/
}

.message {
    display:none;
    width:100%;
    text-align:center;
    color:#848484;
    font-size:90%;
}

#error {
    color:red;   
}

.sidebar {
    
    width:15%;
    position:absolute;
    opacity:0.70;
    background-color: transparent;
    margin:0;
    padding:0;
    border-right: 0px solid #1A1A1A;
}
    
.sidebarElem {
    padding:0;
    margin:0;
    text-align:center;
    font-size:175%;
    width:100%;
    font-weight:bold;
    color: white;
}
    
.selected {
    border-right:4px solid #336E7B;
}

.stack {
    width: 100%;
    background:#DADFE1;
    background: #151515;
    position: absolute;
}

.topStack {
    position: absolute;
    width: 100%;
    top:0;   
    
}

.bottomStack {
    width: 100%;
    position: absolute;
    bottom: 0;   
    
}