body {
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;   
}

@media screen and (min-height : 240px) {
        
        .name , .message , .button {
            height: 24px;
            line-height: 24px;
        }
    }

    @media screen and (min-height : 320px) {
        
        .name , .message , .button {
            height: 32px;
            line-height: 32px;
        }
    }

    @media screen and (min-height : 480px) {
        
        .name , .message , .button {
            height: 48px;
            line-height: 48px;
        }
    }

    @media screen and (min-height : 600px) {
        
        .name , .message , .button {
            height: 60px;
            line-height: 60px;
        }
    }

    @media screen and (min-height : 720px) {
        
        .name , .message , .button {
            height: 72px;
            line-height: 72px;
        }
    }

    @media screen and (min-height : 800px) {
        
        .name , .message , .button {
            height: 80px;
            line-height: 80px;
        }
    }

    @media screen and (min-height : 900px) {
        
        .name , .message , .button {
            height: 90px;
            line-height: 90px;
        }
    }

    @media screen and (min-height : 960px) {
        
        .name , .message , .button {
            height: 96px;
            line-height: 96px;
        }
    }

    @media screen and (min-height : 1200px) {
        
        .name , .message , .button {
            height: 120px;
            line-height: 120px;
        }
    }

    @media screen and (min-height : 1280px) {
        
        .name , .message , .button {
            height: 128px;
            line-height: 128px;
        }
    }

    @media screen and (min-height : 1600px) {
        
        .name , .message , .button {
            height: 160px;
            line-height: 160px;
        }
    }

    @media screen and (min-height : 1920px) {
        
        .name , .message , .button {
            height: 192px;
            line-height: 192px;
        }
    }
    

.clearfix {
    clear: both;   
}

header {
    background:#36D7B7;
    color: white;
    padding: 0px;
    text-align: center;
}


.icon, .name, .close {
    float: left;   
}

.icon, .close {
    width: 15%;   
}

.name {
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    padding: 2% 0;
    height: 100%;
}

.message {
    background: white;   
}

table {
    width: 100%;
    border-collapse: collapse;   
}

.left, .right {
    height: 100%;
    background: #aaa;
    width: 7.5%;   
    text-align: center;
    font-weight: bold;
    display: none;
}

.disabled {
    color: #FAFAFA;   
}

.message {
    width: 85%;
    padding: 10px;
    height: 100%;
}

footer {
    width: 100%;
    border:#F2F2F2;
}

.button {
    text-align: center;
    float: left;
    padding: 2% 0;
    height: 100%;
    box-sizing: border-box;
    width: 33.33%; 
    color: #848484;
    background-color: #EEEEEE;
}

