/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   /* background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

header {
    
    width:100%;
    background:#36D7B7;
    font-size:125%;
    z-index: 2;
    clear: both;
}

header > * {
    box-sizing: border-box;   
}

header > div {
    height: 100%;
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
}

@media screen and (min-height : 240px) {
    
    body {
        font-size:5px; 
    }
    
    header {
        height: 24px;   
    }
    
    header > div {
        line-height: 24px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 24px; 
        line-height: 24px;
    }
    
    .stack {
        top:24px;   
    }
    
    #modal {
        top:48px;   
    }
    
    #notification {
        bottom: 48px;   
    }
}

@media screen and (min-height : 320px) {
    
    body {
        font-size:6px; 
    }
    
    header {
        height: 36px;   
    }
    
    header > div {
        line-height: 36px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 32px; 
        line-height: 32px;
    }
    
    .stack {
        top:36px;   
    }
    
    #modal {
        top:72px;   
    }
    
    #notification {
        bottom: 72px;   
    }
}

@media screen and (min-height : 480px) {
    body {
        font-size: 10px;
    }
    
    header {
        height: 45px;   
    }
    
    header > div {
        line-height: 45px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 48px; 
        line-height: 48px;
    }
    
    .stack {
        top:45px;   
    }
    
    #modal {
        top:90px;   
    }
    
    #notification {
        bottom: 90px;   
    }
}

@media screen and (min-height : 600px) {
    body {
        font-size: 12px; 
    }
    
    header{
        height:54px;
    }
    
    header > div {
        line-height: 54px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 60px; 
        line-height: 60px;
    }
    
    .stack {
        top:54px;   
    }
    
    #modal {
        top:108px;   
    }
    
    #notification {
        bottom: 108px;   
    }
}

@media screen and (min-height : 720px) {
    body {
        font-size: 14px;       
    }
    
    header {
        height: 60px;   
    }  
    
    header > div {
        line-height: 60px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 72px; 
        line-height: 72px;
    }
    
    .stack {
        top:60px;   
    }
    
    #modal {
        top:120px;   
    }
    
    #notification {
        bottom: 120px;   
    }
}

@media screen and (min-height : 800px) {
    body {
        font-size: 16px; 
    }
    
    header {
        height: 67.5px;   
    }
    
    header > div {
        line-height: 67.5px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 80px; 
        line-height: 80px;
    }
    
    .stack {
        top:67.5px;   
    }
    
    #modal {
        top:135px;   
    }
    
    #notification {
        bottom: 135px;   
    }
}

@media screen and (min-height : 900px) {
    body {
        font-size: 18px;
    }
    
     header {
        height: 72px;   
    }
    
    header > div {
        line-height: 72px;   
    }
    
    .sidebarElem {
        height: 90px; 
        line-height: 90px;
    }
    
    .stack {
        top:72px;   
    }
    
    #modal {
        top:144px;   
    }
    
    #notification {
        bottom: 144px;   
    }
    
}

@media screen and (min-height : 960px) {
    body {
        font-size: 18px;
    }
    
    header {
        height: 90px;   
    }
    
    header > div {
        line-height: 90px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 96px; 
        line-height: 96px;
    }
    
    .stack {
        top:90px;   
    }
    
    #modal {
        top:180px;   
    }
    
    #notification {
        bottom: 180px;   
    }
}

@media screen and (min-height : 1200px) {
    body {
        font-size: 24px;       
    }
    
    header {
        height: 96px;   
    }
    
    header > div {
        line-height: 96px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 120px; 
        line-height: 120px;
    }
    
    .stack {
        top:96px;   
    }
    
    #modal {
        top:192px;   
    }
    
    #notification {
        bottom: 192px;   
    }
}

@media screen and (min-height : 1280px) {
    body {
        font-size: 24px; 
    }
    
    header {
        height: 120px;   
    }
    
    header > div {
        line-height: 120px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 128px; 
        line-height: 128px;
    }
    
    .stack {
        top:120px;   
    }
    
    #modal {
        top:240px;   
    }
    
    #notification {
        bottom: 240px;   
    }
}

@media screen and (min-height : 1600px) {
    body {
        font-size: 32px;       
    }
    
    header {
        height: 144px;  
    }
    
    header > div {
        line-height: 144px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 160px; 
        line-height: 160px;
    }
    
    .stack {
        top:144px;   
    }
    
    #modal {
        top:288px;   
    }
    
    #notification {
        bottom: 288px;   
    }
}

@media screen and (min-height : 1920px) {
    body {
        font-size: 40px;  
    }
    
    header {
        height: 144px;   
    }
    
    header > div {
        line-height: 144px;   
    }
    
    .sidebar {
        top : 0px; 
        left: 0;
        height: 100%;
    }
    
    .sidebarElem {
        height: 192px; 
        line-height: 192px;
    }
    
    .stack {
        top:144px;   
    }
    
    #modal {
        top:288px;   
    }
    
    #notification {
        bottom: 288px;   
    }
}


#backbutton {
    width:10%;
    font-weight:normal;
    float:left;
    visibility:hidden;
    text-align: center;
}

/*#icon {
    width:100%;
    float:left;
}*/

#logo > img {
    vertical-align: middle;
    position:relative;
    height: 70%;
    border-radius:100%;
}


#rightColumn > img {
    vertical-align: middle;
    position:relative;
    height: 70%;
    border-radius:100%;
}

#workarea {
    width:100%;
    
    overflow-y:auto;
    background: #FAFAFA;
    background-color: #EEEEEE;
}

.sidebar {
    
    width:15%;
    position:absolute;
    opacity:0.9;
    background-color: transparent;
    margin:0;
    padding:0;
    border-right: 0px solid #1A1A1A;
    box-shadow: 2px 2px 5px 5px solid #848484;
}
    
.sidebarElem {
    padding:0;
    margin:0;
    text-align:center;
    font-size:175%;
    width:100%;
    font-weight:bold;
    color: white;
}
    
.selected {
    background: #C5EFF7 !important;
}

.stack {
    width: 100%;
    background: #2E2E2E;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 5px 5px solid #848484;
    border-right: 1px solid #848484;
    position: absolute;
}

.topStack {
    position: absolute;
    width: 100%;
    top:0;   
    
}

.bottomStack {
    width: 100%;
    position: absolute;
    bottom: 0;   
    
}

.clearfix {
    clear: both;   
}

.message {
    padding: 0% 5%;
    color: white;
}

.info {
    background: #19B5FE;   
}

.error {
    background: #F22613
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #848484;
    opacity: 0.85;
    z-index: 99;
}

#modal {
    display: none;
    position: absolute;
    width: 90%;
    margin-left: 5%;
    z-index: 100;
}

#notification {
    padding: 1% 5%;
    display: none;
    position: absolute;
    background-color: #34495E;
    color: white;
    border-radius: 5px;
    width: 80%;
    font-size: 150%;
    margin: 0 5%;
    z-index: 101;
}